fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
python-jose
joblib
scikit-learn
pandas
numpy
textblob
streamlit
plotly
matplotlib
seaborn
wordcloud
gunicorn
python-multipart
database
typing
